.tweetCommentForm > form {
  display: flex;
  flex-direction: column;
  border: none;
}

.tweetCommentForm__input {
  display: flex;
  padding: 10px;
}

.tweetCommentForm__input > input {
  flex: 1;
  padding: 5px;
  font-size: 15px;
}

.tweetCommentFrom__input > input:focus {
  outline: none;
}
