.dashboard {
  height: 100vh;
  &__container {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
  }
  &__twitterIcon {
    position: fixed;
    margin: 20px;
    color: var(--twitter-color);
    font-size: 30px !important;
    /* margin-left: 20px; */
    margin-bottom: 20px;
    border: solid, black;
    z-index: 300;
    visibility: hidden;
    @include respond(phone) {
      visibility: visible;
    }
  }
}

.container {
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  &__item {
    overflow-y: auto;
    max-height: 100vh;
  }
  &__item::-webkit-scrollbar {
    display: none;
  }
}

#showSideBar {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

// .navToggle {
//   position: fixed;
//   align-content: center;
//   z-index: 1;
//   /* border: solid black; */
//   &__twitterIcon {
//     color: var(--twitter-color);
//     font-size: 30px !important;
//     margin-left: 20px;
//     margin-top: 10px;
//     /* margin-left: 20px;
//     margin-bottom: 20px; */
//   }
// }

// .dashboard__twitterIcon {
//   position: fixed;
//   margin: 20px;
//   color: var(--twitter-color);
//   font-size: 30px !important;
//   /* margin-left: 20px; */
//   margin-bottom: 20px;
//   border: solid, black;
//   z-index: 300;
//   visibility: hidden;
// }

@media screen and (max-width: 600px) {
  // .dashboard__twitterIcon {
  //   visibility: visible;
  // }

  #sidebar {
    position: fixed;
  }
}

@media screen and (max-width: 1000px) {
  #imageGrid {
    display: none;
  }
  .container {
    display: grid;
    grid-template-columns: 200px 1fr;
  }
}

@media screen and (max-width: 600px) {
  #sidebar {
    display: none;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
