.dashboard {
  height: 100vh;
  // &__container {
  //   display: grid;
  //   grid-template-columns: 200px 1fr 1fr;
  // }
  &__twitterIcon {
    position: fixed;
    margin: 20px;
    color: var(--twitter-color);
    font-size: 30px !important;
    /* margin-left: 20px; */
    margin-bottom: 20px;
    border: solid, black;
    z-index: 300;
    visibility: hidden;
    @include respond(phone) {
      visibility: visible;
    }
  }
}

.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  &__item {
    overflow-y: auto;
    max-height: 100vh;
  }
  &__item::-webkit-scrollbar {
    display: none;
  }
  // &__gridFeedBtn {
  //   position: fixed;
  //   width: 100%;
  //   display: flex;
  //   justify-content: center;
  //   top: 20px;
  //   // margin-left: auto;
  //   // margin-right: auto;

  //   z-index: 1000;
  // }
  @include respond(tab-land) {
    display: grid;
    grid-template-columns: 200px 1fr;
  }
  @include respond(phone) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

#sidebar {
  @include respond(phone) {
    position: fixed;
    display: none;
  }
}

#showSideBar {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

// .center {
//   display: flex;
//   justify-content: center;
// }

// .imageGridMedia {
//   @include respond(tab-land) {
//     display: none;
//   }
// }

// .hide {
//   display: none;
// }

// .show {
//   display: block;
// }

// #gridFeedBtn {
//   // display: none;
//   position: fixed;
// }

// #showGridFeedBtn {
//   position: fixed;
// }
